[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    df = diff
    lg = log -p
    unstage = reset HEAD --
    last = log -1 HEAD
    up = "!git remote update -p; git merge --ff-only @{u}"
[user]
    name = Jurian Sluiman
    email = jurian@soflomo.com
[core]
    editor = vim
